@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {

    --bg-color: #081b29;
    --secondary-bg-color: #112e42;
    --text-color: #E0FFFF;
    --main-color: #00FA9A;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    width: 100vw;
}

body {
    background: #081b29;
    color: var(--text-color);
}

.home-back {
    height: 100vh;
    width: 100vw;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    background-size: cover;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 98vw;
    margin: 10px;
    opacity: .8;
    margin-right: 30px;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
    background-color: var(--secondary-bg-color);
    /* border: solid var(--text-color); */
}

.header.sticky {
    background: var(--secondary-bg-color);
}

.logo {
    position: relative;
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 800;
}

.navbar {
    position: relative;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

.active-nav {
    padding: 1rem;
    background: var(--secondary-bg-color);
}


#menu-icon {
    position: f;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    /* display: flex; */
    align-items: center;
    padding: 9%;
    margin-top: 1rem;
    text-align: -webkit-center;
    /* border: solid var(--text-color); */
}

.home-content {
    max-width: 60rem;
    align-items: center;
    z-index: 99;
    backdrop-filter: blur(8px);
    border-radius: 10px;
    margin-top: 8rem;
    border: black;
    padding: 50px;
}

.home-content h1 {
    position: relative;
    display: inline-block;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h1 span {
    color: var(--text-color);
}

.home-content .text-animate {
    position: relative;
    margin: 20px 0px;

}

.home-content .text-animate h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
    background-image: -webkit-linear-gradient(var(--main-color));
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-position: 0 0;

}

.home.show-animate .home-content .text-animate h3 {
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}

.home.show-animate .home-content .text-animate h3::before {
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
}

.home-content p {
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}

.home-content .text-animate h3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;
}

.home-content .text-animate {
    position: relative;
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 28rem;
    height: 5rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:nth-child(2) {
    background-color: transparent;
    color: var(--main-color);
}

.btn-box .btn:nth-child(2)::before {
    background: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
    color: var(--bg-color);

}

.btn-box .btn:hover {
    color: var(--main-color);

}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before {
    width: 100%;
}

.home-sci {
    margin: 20px;
}

.home-sci a:hover {
    color: var(--bg-color);
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover:before {
    width: 100%;
}


/* ABOUT PAGE */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* Change from column to row to split the section */
    gap: 4rem;
    background: var(--secondary-bg-color);
    padding: 6rem 2rem;
    border: solid var(--text-color) 2px;
    margin: 10px 0px;
}

.about-content-h {
    width: 45vw;
    /* Make both sections occupy half the space */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading {
    position: relative;
    font-size: 4.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

span {
    color: var(--main-color);
}

.about-img {
    position: relative;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}

.about-content {
    text-align: center;
}

.about-content h3 {
    font-size: 2.6rem;
    position: relative;
    display: inline-block;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

/* New Section for GitHub & LeetCode */
.about-extra {
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.github-section,
.leetcode-section {
    margin-top: 2rem;
}

.github-section h3,
.leetcode-section h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.github-section img,
.leetcode-section img {
    width: 100%;
    border-radius: 10px;
}

.btn-box-a {
    position: relative;
    display: flex;
    gap: 2rem;
    height: 5rem;
}

.btn-box-a .btn-a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}


/* JOURENY */
.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100hv;
    padding-bottom: 150px;
    /* border: solid var(--text-color); */
    margin: 10px 0px;
}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row .education-column {
    flex: 1 1 40rem;
}

.education-column .title {

    position: relative;
    font-size: 2.3rem;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box {
    position: relative;
    border-left: .2rem solid var(--main-color);
}

.education-box .education-content {
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;

}

.education-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.education-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--secondary-bg-color);
    z-index: -1;
    transition: .5s;
}

.education-content .content:hover::before {
    width: 100%;
}

.education-content .content .year {
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .7rem;
}

.education-content .content .year i {
    padding-right: .5rem;
}

.education-content .content h3 {
    font-size: 2rem;
}

.education-content .content p {
    font-size: 1.6rem;
    padding-top: .5rem;
}

/* SKILLS */

.main-text h1 {
    font-size: 4.5rem;
    position: relative;
    display: inline-block;
}

.skills {
    min-height: 100hv;
    padding-bottom: 7rem;
    background: var(--secondary-bg-color);
    border: solid var(--text-color);
}

.skills h2 {
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}


.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills-row .skills-column {
    flex: 1 1 40rem;
}

.skills-column .skills-box {
    position: relative;
    margin: 20px;
}




.skills-column .title {
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0.0 1.5rem;
}

.skills-box .skills-content {
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}

.skills-box .skills-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.skills-box .skills-content:hover:before {
    width: 100%;
}


.skills-content .progress {
    padding: 1rem 0;
}

.skills-content .progress h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span {
    color: var(--text-color);
}

.skills-content .progress .bar {
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;


}

.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: .3rem;
    background-color: var(--main-color);
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 85%;

}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width: 60%;

}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
    width: 70%;

}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
    width: 60%;

}

.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span {
    width: 50%;

}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
    width: 60%;

}


.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
    width: 70%;

}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
    width: 75%;

}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
    width: 90%;

}

.skills-column:nth-child(2) .skills-content .progress:nth-child(5) .bar span {
    width: 75%;

}

.projects {
    text-align: center;
    align-items: center;
    height: 100hv;
    width: 100vw;
}

.projects-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 10rem;
}

.pro-head {
    font-size: 18px;
    font-weight: bold;
}

.pro-img {
    height: 250px;
}

.row {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    width: 90%;
}

.row img {
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
    border: solid var(--text-color);
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgb(0 0 0 / 50%), #0d1b28);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
    transition: height 0.5s;
}

.layer h5 {
    font: 50px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p {
    color: var(--second-color);
    font-size: 1rem;
    line-height: 1.8;

}

.layer i {
    color: var(--secondary-bg-color);
    margin-top: 20px;
    font-size: 20px;
    background: var(--text-color);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

.row:hover img {
    transform: scale(.5);

}

.row:hover .layer {
    height: 100%;
}

.contact {
    min-height: 100hv;
    padding-bottom: 7rem;
    border: solid var(--text-color);
    background: var(--secondary-bg-color);
}

.contact form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: var(--text-color);
}

.contact form .textarea-field {
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea {
    resize: none;
}

.contact form .btn-box.btns .btn {
    cursor: pointer;
}

.contact form .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}

.contact form input-box .input-field input:focus~.focus,
.contact form input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus {
    width: 100%;

}

.btn-box-c {
    gap: 2rem;
    height: 5rem;
}

.btn-box-c .btn-c {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--secondary-bg-color);
    border-bottom: .2rem solid var(--secondary-bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
    animation: 8s linear 0s infinite normal none running aboutSpinner;
}


/* footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.5rem 9%;

}

.footer-text,
.footer-iconTop {
    position: relative;
}

.footer-text {
    font-size: 1.6rem;
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--secondary-bg-color);
    z-index: -1;
    transition: .5s;
}

.footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: .5s;
}

.footer-iconTop a:hover i {
    color: var(--main-color);
}

.animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--secondary-bg-color);
    z-index: 98;

}

.logo .animate,
.navbar .animate,
#menu-icon .animate,
.home.show-animate .animate-h {
    animation: showRight 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}

.animate.scroll {
    transition: 1s ease;
    animation: none;
    transition-delay: calc(.3s * var(--i));
}

.education .animate.scroll,
.home .animate.scroll,
.projects .animate.scroll {
    background: var(--bg-color);
}

.about.show-animate .animate.scroll,
.education.show-animate .animate.scroll,
.skills.show-animate .animate.scroll,
.projects.show-animate .animate.scroll,
.contact.show-animate .animate.scroll,
.footer.show-animate .animate.scroll {
    transition-delay: calc(.3s * var(--i));
    width: 0;
}

.animate-h {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 98;
}




@media (max-width:768px) {
    .header {
        background: var(--secondary-bg-color);
        width: 95vw;
    }

    .home-content {
        margin-top: 0rem;
    }

    #menu-icon {
        display: block;
    }

    .home-sci {
        margin: 10px;
    }

    #background-video {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* Ensures the video covers the entire container */
        transform: translate(-50%, -50%);
        z-index: -1;
        background-size: cover;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        /* background:var(--main-color) ; */
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }

    #home_img {
        display: none;
    }

    .navbar.active {
        transition-delay: 0s;
        left: 0;

    }

    .about {
        display: flex;
        flex-direction: column;
        height: 100hv;
    }

    .about-content-h {
        width: 100%;
    }

    .about-extra {
        width: 100%;
    }

    .projects {
        padding: 10px;
        width: 100vw;
    }

    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        /* background: var(--bg-color); */
        border-top: 1rem solid rgba(0, 0, 0, 0.2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav {
        transition-delay: .25s;
        left: 0;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition-delay: 0s;
    }

    .navbar.active a {
        transform: translateX(0);
        transition-delay: .25s;
    }

    .home-imghover {
        pointer-events: none;
        background: var(--bg-color);
        opacity: .6;
    }
}

@media (max-width:520px) {
    html {
        font-size: 50%;
    }

    .home-content h1 {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:460px) {
    .home-content h1 {
        font-size: 3.5rem;

    }

    .home-content h3 {
        font-size: 3rem;
    }

    .home-content p {
        font-size: 1.4rem;
    }

    .education {
        padding: 10rem 4% 5rem 5%;
    }

    .contact form .input-box .input-field {
        width: 100%;
    }


    .footer p {
        margin-top: 2rem;
        text-align: center;
    }
}

@media (max-width:371px) {
    .home {
        display: flex;
        flex-direction: column;

    }

    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .home-content h1 {
        font-size: 5rem;
    }

}

@keyframes homeBgText {

    0%,
    10%,
    100% {
        background-position: -50rem 0;
    }

    65%,
    85% {
        background-position: 0 0;
    }
}

@keyframes homeCursorText {

    0%,
    10%,
    100% {
        width: 0;
    }

    65%,
    78%,
    85% {
        width: 100%;
        opacity: 1;
    }

    75%,
    81% {
        opacity: 0;
    }
}

@keyframes aboutSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes showRight {
    100% {
        width: 0;
    }

}

#infoFrame {
    display: none;
    width: 50%;
    height: 60vh;
    border: 1px solid #ccc;
    float: right;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-left: 150px;
}

#infoFrame object {
    width: 50%;
    height: 100%;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.read-more-button {

    margin-right: -250px;
}

.download-button {
    flex: 0;
    padding: 10px 20px;
    border-radius: 5px;
}


#home_img {
    height: 500px;
    width: 38%;
    margin-left: 200px;
    padding: 20px;
    border: solid var(--text-color);
    border-radius: 30px;
}